<p id="notice"><%= notice %></p>
<h3 class="pb-3 mb-4 font-italic border-bottom">From the Stalls</h3>
  <div class="blog-post">
    <% @posts.each do |post| %>
      <h2 class="blog-post-title"><%= post.title %></h2>
        <p class="blog-post-meta"><%= post.user.username %></p>
        <br>
        <p><%= post.content %></p>
        <% post.images.each do |image| %>
   <%= image_tag (image.variant(resize: "100x100")) %><% end %>
        <br>
        <%= link_to 'Show', post %>  
    <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
